name: Builds

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - repo: CCBlueX/LiquidBounce
            prefix: lbng
            branch: nextgen
            gradle: 9.2.1
            java: 21

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ matrix.repo }}
          ref: ${{ matrix.branch }}
          fetch-depth: 0

      - name: setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: setup java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}

      - name: setup gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: ${{ matrix.gradle }}

      - name: build
        run: gradle build

      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.prefix }}-${{ github.sha }}
          path: |
            build/libs/*.jar
            !build/libs/*-sources.jar
            !build/libs/*-dev.jar
            !build/libs/*-javadoc.jar